@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.saying-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
  }
  
  .saying-div {
    display: table-cell;
    vertical-align: middle;
  }
  
  .message {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: white;
    font-family: 'Caveat', cursive;
    /* Whatever width you want */
  }